<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Forbidden</title>
   <meta http-equiv="refresh" content="3; URL=http://localhost:8080">
</head>
<body>
   <h1>Please fill out the required fields and you will be redirected shortly.</h1>

</body>
</html>