<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Home</title>
   <!--Styling-->
   <style type="text/css">

    /*Styling for homepage*/
    html{
        background-color: #3399ff;
    }

    #head{
        text-align: center;    
    }   
    #slogan{
        color: #d9d9d9;
    }   
    #container{
        text-align: center;
        
    }


    .left{
        background-color: #d9d9d9;
        border-radius: 4px;
        text-align: center;
        border: 3px solid #d9d9d9; 
        width: 20%;
        overflow: hidden;
        margin-left: 250px;
        display:inline-block;
    
    }

    .right{
        background-color: #d9d9d9;
        border-radius: 4px;
        text-align: center;
        border: 3px solid #d9d9d9; 
        width: 20%;
        overflow: hidden;
        margin-right: 250px;
        display:inline-block;
        
    }

    .center{
        background-color: #d9d9d9;
        border-radius: 4px;
        text-align: center;
        border: 3px solid #d9d9d9; 
        width: 20%;
        overflow: hidden;
        display: inline-block;
        

    }

    .link{
        color: #3399ff;
        text-decoration: none;
    }

   </style>
</head>
<body>
    <div id="head" align="center">
        <img src="../styling/gochat-logo.png" alt="Logo">
        <h2 id="slogan">A chat written entirely in Go</h2>
    </div>
    <div id="container" align="center">
        <a href="signup" class="link"><div class="left">Sign-Up</div></a>
        <a href="login" class="link"><div class="center">Login</div></a>
        <a href="chat" class="link"><div class="right">Chat!</div></a>

    </div>

</body>
</html>