<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Home</title>
   <!--Styling-->
   <style type="text/css">

    /*Styling for homepage*/
    html{
        background-color: #3399ff;
    }

    #head{
        text-align: center;    
    }   
    #slogan{
        color: #d9d9d9;
    }   

   </style>
</head>
<body>
    <div id="head" align="center">
        <img src="../styling/logo/gochat-logo.png" alt="Logo">
        <h2 id="slogan">A chat written in Go, for Go</h2>
    </div>

</body>
</html>