<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Chat Sign-Up</title>
</head>
<body>
<form method="post">
   <input type="text" name="username" placeholder="email"><br>
   <input type="text" name="password" placeholder="password"><br>
   <input type="submit">

</form>

{{if .First}}
Username: {{.Username}}<br>
Password: {{.Pass}}<br>
{{end}}
</body>
</html>